body {
    font-family: Cursive, sans-serif;
    margin: 40px;
    background-color: #25011efd;
    color: #333;
}

h1 {
    font-size: 45px;
    text-align: center;
}

h2 {
    font-size: 40px
}

h3 {
    font-size: 35px;
    text-align: center;
}

h4 {
    font-size: 30px;
    text-align: center;
}

h5 {
    font-size: 25px;
    text-align: center;
}

ul {
    font-size: 30px
}

p {
    font-size: 25px
}

.readingLog {
    border: 4px solid #b887af;
    border-radius: 30px;
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-width: 20px;
    background: #ebe0ff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
}

.header {
    border: 5px solid #b887af;
    background-color: #ebe0ff;
    border-radius: 30px;
    padding: 50px;
    margin: 20px;
    text-align: center;
}

.smallImage {
    width: 150px;
    height: 185px;
    display: block;
    margin: 0 auto;


}

.normalImage {
    width: 225px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    font-size: 30px;
}

th,
td {
    padding: 15px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #ff00c8;
}

.container .row {
    border: 3px solid black;
}

.container .col-2 {
    font-weight: bold;
    background-color: #ceffce;
    border-right: 3px solid black;
}

.container .col-10 {
    background-color: #ff7b7b;
    font-weight: bold;
}

#carContainer > div {
    padding: 10px;
    border: 1px solid #ffffff;
}
  
#carContainer .col-12 {
    border-bottom: none;
}
  
#carContainer {
    background-color: #b887af;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}


